<a href="https://colab.research.google.com/github/alearecuest/0x00-Fix_My_Code_Challenge/blob/main/1_2_2_PRACTICE_Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practicing Data Structures with Python

Let's solve some challenges involving strings, lists, sets and so on!

In [ ]:
import urllib

## Problem 1: Normalize text

Because of an error in the database, the list above has a lot of duplicated names, for example: Mark, mark, MARK, etc.

- Can you write some code in Python to get the list of unique names?

- Can you write it in one line?

*Hint: The list should have 200 unique names.*

In [ ]:
# Don't touch this cell
# Load dataset
with urllib.request.urlopen("https://raw.githubusercontent.com/anyoneai/notebooks/main/datasets/top_names.txt") as f:
    people_names = f.read().decode('utf-8').splitlines()

In [ ]:
len(people_names)

1000

In [ ]:
# Put your solution here

## Problem 2: Normalize text and remove punctuation

Now, because of a second error in the database, the list of names was also corrupted with punctuation symbols, now the data looks like: 'Kayla', 'FR,A|N!K', 'Brand=on', 'KATHRYN', 'stephen', 'G?LÇO+R¨IA'.

- Can you write some code in Python to get the list of unique names?

- Can you write it in one line?

*Hint: The list should have 199 unique names.*

In [ ]:
# Don't touch this cell
# Load dataset
with urllib.request.urlopen("https://raw.githubusercontent.com/anyoneai/notebooks/main/datasets/top_names_punct.txt") as f:
    people_names_punct = f.read().decode('utf-8').splitlines()

In [ ]:
# Put your solution here

## Problem 3 [Optional / Advanced]

Can you write a Python code that allows you to generate a list of randomly corrupted names like in the two lists above?

*Hint: Consider using [Python Random library](https://docs.python.org/3/library/random.html).*

In [ ]:
# Put your solution here